.states-container {
  min-height: 130px;
  width: 91%;
  margin-top: 15px;
  margin-bottom: 5px;
  background-color: #252525;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 0 5px 0 #080808;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}