.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}