.keyboard {
  display: grid;
  grid-template-columns: repeat(76, 6px);
  grid-template-rows: repeat(6, 45px);
  grid-gap: 5px;
  justify-content: center;
  padding: 15px;
  width: 830px;
  border-radius: 15px;
}

.key {
  grid-column: span 5;
  background-color: #323232;
  box-shadow: 0 0 3px 0px #080808;
  border-radius: 4px;
  transition: all .25s ease-in-out;
}
.key:hover {
  background-color: #404040;
  cursor: pointer;
  box-shadow: 0 0 3px 0px rgba(230, 230, 230, 0.5);
}

.key-selected {
  background-color: #505050;
}

.key-label {
  position: relative;
  top: 3px;
  left: 5px;
  color: #a0a0a0;
  font-family: sans-serif;
  font-size: 11px;
}

.key-state-container {
  padding: 5px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 8px);
  grid-template-rows: repeat(auto-fit, 8px);
}

.key-state-circle {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  margin: 1.5px;
  box-shadow: 0 0 3px 1px #080808;
}

.back {
  grid-column: span 11;
}

.tab {
  grid-column: span 9;
}

.or {
  grid-column: span 7;
}

.caps-lock {
  grid-column: span 10;
}

.enter {
  grid-column: span 11;
}

.shift {
  grid-column: span 13;
}

.control, .root, .alt, .fn {
  grid-column: span 6;
}

.space {
  grid-column: span 34;
}